$layout-breakpoint-small: 960px;

.flower-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
  @media(max-width: $layout-breakpoint-small){
    grid-template-columns: none;
    grid-gap: none;
  }
}

.flower-card {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.flower-card .flower-card-text{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.flower-card h3{
  font-weight: 500;
}


.flower-card img {
  width: 200px;
  object-fit: cover;
}

.flower-card  {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


